@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  color: #46444c;
  position: relative;
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
}

body:before {
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: '';
  position: absolute;
  background: #5A45FF;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

table, td, tr {
  border: #46444c solid 2px;
}

td {
  padding: 12px;
}
